<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="pizza_b.png"  />
    </li>
    <li>
      <img src="pizza_c.png" />
    </li>
    <li>
      <img src="pizza_d.png" />
    </li>
  </ul>
</div>
<div class="custom-navigation">
  <a href="#" class="flex-prev"></a>
  <div class="custom-controls-container"></div>
  <a href="#" class="flex-next"></a>
</div>